{
	"parser": "esprima",
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"globals": {
		"io": false,
		"_": false,
		"$": false,
		"FAO": false
	},
	"rules": {
		"func-names": 0,
		"space-before-function-paren": ["warn", "never"],
		"space-before-blocks": ["warn", {"functions":"always", "keywords":"always"}],
		"brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
		"indent": ["warn", "tab", {"SwitchCase":1}],
		"vars-on-top": 0,
		"no-use-before-define": 0,
		"new-cap": 0,
		"no-param-reassign": 0,
		"no-const-assign": "warn",
		"no-this-before-super": "warn",
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"constructor-super": "warn",
		"valid-typeof": "warn",
		"no-dupe-keys": "warn"
	}
}
