:root {
	--artist0: hsl(327, 100%, 95%);
	--artist1: hsl(327, 100%, 90%);
	--artist2: hsl(327, 100%, 75%);
	--artist3: hsl(327, 100%, 60%);
	--artist4: hsl(327, 100%, 45%); /* standard */
	--artist-tr: hsla(327, 100%, 45%, 30%);
	--artist5: hsl(327, 100%, 35%);
	--artist6: hsl(327, 100%, 25%);
	--gold1: hsl(54, 100%, 90%);
	--gold2: hsl(54, 100%, 70%);
	--gold3: hsl(54, 100%, 50%);
	--gold4: hsl(54, 100%, 40%);
	--gold5: hsl(54, 100%, 30%);
	--grey1: hsl(45, 8%, 98%);
	--grey2: hsl(45, 10%, 92%);
	--grey3: hsl(45, 12%, 85%);
	--grey4: hsl(45, 14%, 70%);
	--grey5: hsl(45, 16%, 55%);
	--grey6: hsl(45, 18%, 36%);
	--grey7: hsl(45, 20%, 25%);
	--blue1: hsl(200, 100%, 75%);
	--blue2: hsl(200, 100%, 60%); /* standard */
	--blue3: hsl(200, 100%, 45%);
	--blue4: hsl(200, 100%, 30%);
	--blue5: hsl(200, 100%, 20%);
}