:root {
	--artist0: hsl(327, 100%, 95%);
	--artist1: hsl(327, 100%, 90%);
	--artist2: hsl(327, 100%, 75%);
	--artist3: hsl(327, 100%, 60%);
	--artist4: hsl(327, 100%, 45%); /* standard */
	--artist-tr: hsla(327, 100%, 45%, 30%);
	--artist5: hsl(327, 100%, 35%);
	--artist6: hsl(327, 100%, 25%);
	--beige1: hsl(30, 8%, 98%);
	--beige2: hsl(30, 10%, 92%);
	--beige3: hsl(30, 12%, 85%);
	--beige4: hsl(30, 14%, 70%);
	--beige5: hsl(30, 16%, 55%);
	--beige6: hsl(30, 18%, 36%);
	--beige7: hsl(30, 20%, 25%);
	--grey0: hsl(20, 2%, 95%);
	--grey1: hsl(20, 2%, 90%);
	--grey2: hsl(20, 2%, 80%);
	--grey3: hsl(20, 2%, 70%);
	--grey4: hsl(20, 2%, 60%);
	--grey5: hsl(20, 2%, 50%);
	--blue1: hsl(200, 60%, 75%);
	--blue2: hsl(200, 60%, 60%); /* standard */
	--blue3: hsl(200, 60%, 45%);
	--blue4: hsl(200, 60%, 40%);
	--blue5: hsl(200, 60%, 30%);
	--gold1: hsl(54, 100%, 90%);
	--gold2: hsl(54, 100%, 70%);
	--gold3: hsl(54, 100%, 50%);
	--gold4: hsl(54, 100%, 40%);
	--gold5: hsl(54, 100%, 30%);
	--purp3: hsl(258, 89%, 60%);
	--purp2: hsl(258, 90%, 75%);
}