:root {
	--artist3: hsl(322, 98%, 60%);
	--artist4: hsl(322, 95%, 50%); /* standard */
	--artist5: hsl(322, 98%, 40%);
	--artist6: hsl(322, 100%, 30%);
	--grey0: hsl(220, 10%, 100%);
	--grey1: hsl(220, 10%, 90%);
	--grey2: hsl(220, 10%, 80%);
	--grey3: hsl(220, 10%, 70%);
	--grey4: hsl(220, 10%, 60%);
	--grey5: hsl(220, 10%, 50%);
	--grey6: hsl(220, 12%, 40%);
	--grey7: hsl(220, 12%, 30%);
	--grey8: hsl(220, 12%, 20%);
	--blue1: hsl(200, 60%, 75%);
	--blue2: hsl(200, 60%, 60%); /* standard */
	--blue3: hsl(200, 60%, 45%);
	--blue4: hsl(200, 60%, 40%);
	--blue5: hsl(200, 60%, 30%);
	--gold1: hsl(54, 100%, 90%);
	--gold2: hsl(54, 100%, 70%);
	--gold3: hsl(54, 100%, 50%);
	--gold4: hsl(54, 100%, 40%);
	--gold5: hsl(54, 100%, 30%);
	--purp3: hsl(258, 50%, 55%);
	--purp2: hsl(258, 50%, 75%);
	--shade: rgba(0, 0, 0, 0.3);
	--shade1: rgba(0, 0, 0, 0.7);
}