:root {
	--artist3: hsl(322, 90%, 65%);
	--artist4: hsl(322, 90%, 55%);
	--artist5: hsl(322, 90%, 45%);
	--grey0: hsl(220, 40%, 100%);
	--grey1: hsl(220, 40%, 95%);
	--grey2: hsl(220, 30%, 85%);
	--grey3: hsl(220, 30%, 75%);
	--grey4: hsl(220, 20%, 65%);
	--grey5: hsl(220, 15%, 55%);
	--grey6: hsl(220, 15%, 45%);
	--grey7: hsl(220, 15%, 35%);
	--blue1: hsl(200, 60%, 75%);
	--blue2: hsl(200, 60%, 60%);
	--blue3: hsl(200, 60%, 50%);
	--blue4: hsl(200, 60%, 40%);
	--blue5: hsl(200, 60%, 30%);
	--gold1: hsl(54, 100%, 90%);
	--gold2: hsl(54, 100%, 70%);
	--gold3: hsl(54, 100%, 50%);
	--gold4: hsl(54, 100%, 40%);
	--gold5: hsl(54, 100%, 30%);
	--purp3: hsl(258, 50%, 55%);
	--purp2: hsl(258, 50%, 75%);
	--shade: rgba(0, 0, 0, 0.3);
	--artistshade: hsla(322, 50%, 30%, 0.3);
	--artistshade2: hsla(322, 30%, 10%, 0.3);
}
