.dialog-component {
	.dialog-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--artistshade2);
		z-index: 10;
	}
	.dialog-window {
		z-index: 10;
		min-width: 25em;
		max-width: 35em;
		padding: 10px 20px;
		display: block;
		text-align: left;
		background-color: var(--grey0);
		border-radius: 5px;
		box-shadow: 0px 4px 8px -4px var(--artistshade2), 0px 4px 24px -4px var(--artistshade2);

		@media screen and (max-width: 480px) {
			min-width: 150px;
		}
	}
	.dialog-actions {
		margin-top: 20px;
		text-align: right;
	}
}
