.dialog-component {
    .dialog-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--shade1);
        z-index: 10;
    }
    .dialog-window {
        z-index: 10;
        background-color: white;
        border: solid 1px var(--grey1);
        border-radius: 4px;
        padding: 10px 20px;
        box-shadow: 0px 3px 6px 0px var(--shade);
    }
    .dialog-actions {
        margin-top: 20px;
    }
}

#player-statuses {
    ul {
        text-align: left;
    }
    li {
        display: flex;
    }
    li > span {
        align-self: center;
    }
    .grow-space {
        flex-grow: 1;
        min-width: 10px;
    }
}
