.dropup {
	position: relative;
	margin: 10px 10px;

	button {
		border: solid 2px rgba(0, 0, 0, 0);
		border-radius: 100%;
		background-color: var(--grey0);
		color: var(--grey7);
		line-height: 40px;
		width: 40px;
		height: 40px;
		padding: 0;
		margin: 0;
		flex-shrink: 0;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--grey1);
			}
		}
		&:active,
		&.expanded {
			border-color: var(--grey1);
			background-color: var(--grey1);
		}
	}

	.dropup-content {
		border: solid 1px var(--grey1);
		border-radius: 5px;
		background-color: var(--grey0);
		box-shadow: 0px 4px 12px -4px var(--shade);
		text-align: left;
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: 3;
		white-space: nowrap;
		padding: 4px;
	}

	ul.dropup-list {
		margin: 0;
		li {
			color: var(--grey7);
			font-family: var(--body-font);
			border-radius: 5px;
			padding: 8px 16px;
			cursor: pointer;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			&:hover {
				background-color: var(--grey1);
			}
		}
	}
}
