.btn {
	font-family: var(--button-font);
	font-size: 16px;
	font-weight: 700;

	border-style: solid;
	border-radius: 4px;
	border-width: 2px;

	min-width: 120px;
	padding: 0 20px;
	margin: 10px 10px;
	line-height: 40px;
	
	cursor: pointer;
	
	transition: background-color .15s, color .15s, border .15s, box-shadow .15s;
}
.btn.primary:not(:disabled) {
	background-color: var(--artist4);
	color: white;
	border-color: var(--artist4);
}
.btn.secondary {
	background-color: white;
	color: var(--blue4);
	border-color: var(--blue4);
}
.btn.tertiary {
	color: var(--blue4);
	background: none;
	border-radius: 0;
	border: hidden;
	border-top: solid 2px #0000;
	border-bottom: solid 2px var(--blue4);
	padding: 0 2px;
	line-height: 20px;
	min-width: 0;
}
@media(any-hover: hover) {
	.btn.primary:not(:disabled):hover {
		background-color: var(--artist3);
		border-color: var(--artist3);
	}
	.btn.primary:not(:disabled):active {
		background-color: var(--artist5);
		border-color: var(--artist5);
	}
	.btn.secondary:not(:disabled):hover {
		/* background-color: var(--blue1); */
		color: var(--blue2);
		border-color: var(--blue2);
	}
	.btn.secondary:not(:disabled):active {
		/* background-color: var(--blue3); */
		color: var(--blue5);
		border-color: var(--blue5);
	}
	.btn.tertiary:not(:disabled):hover {
		background-color: var(--grey0);
	}
	.btn.tertiary:not(:disabled):active {
		background-color: var(--grey0);
	}
}
.btn:disabled {
	border-color: var(--beige2);
	background-color: white;
	color: var(--beige4);
	cursor: default;
}
button.btn.big {
	min-width: 170px;
}

input[type="text"], input[type="tel"], input[type="number"] {
	border-style: hidden;
	border-bottom: solid 2px;
	border-bottom-color: var(--artist4);
	background-color: var(--grey0);
	line-height: 40px;
	text-align: center;
	margin: 10px 0;
	color: var(--beige6);
	font-weight: normal;
}
/* input[type="text"]:focus {
	border-bottom-color: var(--artist4);
} */
input:invalid {
	box-shadow: none;
}

/* ============================================================================
	Dropup
============================================================================ */
.dropup {
	position: relative;
    display: inline-block;
	margin: 10px 10px;
}
.dropup button {
	border: none;
	border-radius: 100%;
	background-color: white;
	color: var(--beige6);
	line-height: 40px;
    width: 40px;
	height: 40px;
	margin: 0;
	cursor: pointer;
	transition: background-color .15s, color .15s, border .15s;
}
.dropup button:hover {
	background-color: var(--grey0);
}
.dropup button:active {
	/* fix firefox behavior */
	padding-inline-end: 8px;
	padding-inline-start: 8px;
}
.dropup button.expanded {
	background-color: var(--grey0);
}
.dropup-content {
    border: solid 1px var(--grey1);
    border-radius: 4px;
    background-color: white;
	box-shadow: 0px 3px 6px 0px var(--shade);
    text-align: left;
	font-size: 13px;
    position: absolute;
	bottom: 100%;
	left: 0;
    z-index: 3;
    white-space: nowrap;
    padding: 4px;
}
ul.dropup-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.dropup-list > li {
	padding: 10px;
    border-radius: 4px;
	cursor: pointer;
	font-family: var(--header-font);
}
ul.dropup-list > li:not(:last-child) {
	margin-bottom: 4px;
}
ul.dropup-list > li:hover {
	background-color: var(--grey0);
}

@media screen and (max-width: 400px) {
	#in-game .btn {
		margin: 5px;
	}
	#in-game .btn:not(.tertiary) { /* TODO flex-shrink? */
		min-width: 105px;
	}
	#in-game .dropup {
		margin: 5px;
	}
}
