:root {
	--shadow-config: 0px 2px 4px 0px;
	--header-font: 'Poppins', sans-serif;
	--body-font: 'Niramit', sans-serif;
	--button-font: 'Poppins', sans-serif;
}

html, body {
	font-family: var(--body-font);
	background-color: white;
	color: var(--beige6);
	margin: 0 0;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.35;
}

h1, h2, h3 {
	font-family: var(--header-font);
	color: var(--beige7);
}
h1 {
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
}
h2 {
	font-size: 20px;
	margin: 5px 5px 10px 5px;
}
h3 {
	font-size: 18px;
	margin: 5px 5px 10px 5px;
}

#wrapper {
	height: calc(100% - 20px);
}

div.stripe {
	margin: 0 0;
	padding: 10px 10px;
}
div.stripe-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
}
div.chunk-narrow {
	margin-bottom: 15px;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}

p, ul {
	margin: 5px 5px 5px 5px;
}
div.normal-text :not(:last-child) { /* normal-text identifies a section of both header and text */
	margin-bottom: 10px; /* paragraph break */
}
p em, p strong, p span {
	white-space: nowrap;
}
a {
	color: var(--blue4);
}
.tip {
	font-size: 13px;
	font-style: italic;
	color: var(--beige5);
}

.error {
	color: red;
	font-weight: bold;
}
div.warning {
	background-color: var(--gold1);
	border: solid 1px var(--gold3);
	color: var(--gold5);
	border-radius: 2px;
	margin: 10px 80px;
	padding: 0 10px;
	font-size: 13px;
	display: inline-block; /* Div box width to equal inner content width */
}

hr {
	height: 1px;
	border: 0;
	background-color: var(--grey1);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
#menu {
	min-height: 200px;
	margin: 10px 0; /* some extra breathing space for the menu */
}

/* hero patterns */
.bg-dots {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5007e' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-texture {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e5007e' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* ============================================================================
	Setup room
============================================================================ */

div#room-setup div.game-code h1 {
	font-family: var(--button-font);
	margin-top: 0;
}
div#room-setup div.chunk.users {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
div#room-setup ul.users {
	list-style: none;
	height: calc((21px) * 10); /* <li> height * number of rows */
	padding-left: 0;
	margin-top: 0;
}
div#room-setup li {
	font-weight: bold;
	font-family: var(--header-font);
	line-height: 1.4;
}

/* ============================================================================
	Canvas
============================================================================ */

#drawing-pad {
	position: relative;
	border: solid 5px var(--artist4);
	box-shadow: 0px 3px 6px 0px var(--shade);
	width: 100%;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
canvas#old-paint {
	background-color: white;
	z-index: 1;
}
canvas#new-paint {
	z-index: 2; /* ensures pointer events hit the top layer, not the bottom layer */
}

/* ============================================================================
	Game
============================================================================ */

#game-info {
	text-align: left;
	font-family: var(--header-font);
}
#game-info h1.prompt {
	color: var(--artist4);
	font-size: 26px;
	margin: 0 0 0 0;
}
@media screen and (max-width: 480px) {
	#game-info h1.prompt {
		font-size: 20px;
	}
	#game-info h3 {
		font-size: 16px;
	}
}
#game-info .current-turn {
	margin-left: 10px;
	margin: 0 0 0 10px;
}

#drawing-actions {
	direction: rtl; /* handle vertical button order for super-narrow viewports */
}

#conn-overlay {
	background-color: rgba(240, 240, 240, 0.9);
	height: 100%;
	width: 100%;

	/* see position and z-idxes for the drawing pad layers */
	position: absolute;
	z-index: 3;

	display: flex;
    justify-content: center;
	align-items: center;
}


.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}