:root {
	--shadow-config: 0px 2px 4px 0px;
	--header-font: 'Palanquin Dark', sans-serif;
	--body-font: 'Niramit', sans-serif;
	--button-font: 'Poppins', sans-serif;
}

html, body {
	height: 100%;
	font-family: var(--body-font);
	background-color: var(--grey1);
	color: var(--grey6);
	margin: 0 0;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: var(--header-font);
	color: var(--grey7);
}
h1 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-size: 20px;
	margin: 5px 5px 10px 5px;
}
h3 {
	font-size: 18px;
	margin: 5px 5px 10px 5px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: calc(100% - 20px);
	max-width: 600px;
	padding: 15px 15px 0 15px;
}

div.chunk {
	margin-bottom: 30px;
}
div.chunk-narrow {
	margin-bottom: 15px;
}
.align-left {
	text-align: left;
}

p, ul {
	margin: 5px 5px 5px 5px;
}
p em, p strong, p span {
	white-space: nowrap;
}
a {
	color: var(--blue4);
}

.error {
	color: red;
	font-weight: bold;
}
div.warning {
	background-color: var(--gold1);
	border: solid 1px var(--gold3);
	color: var(--gold5);
	border-radius: 2px;
	margin: 10px 80px;
	padding: 0 10px;
	font-size: 13px;
	display: inline-block; /* Div box width to equal inner content width */
}

/* ============================================================================
	Waiting room
============================================================================ */

div.game-code {
	margin-top: 10px;
}
div.game-code h1 {
	font-family: var(--button-font);
}
div.chunk.users {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
ul.users {
	list-style: none;
	height: calc((16px + 3px) * 10); /* <li> size * number of rows */
	padding-left: 0;
}
.username {
	font-family: var(--header-font);
}
li {
	margin-bottom: 3px;
}

/* ============================================================================
	Canvas
============================================================================ */

#painting {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px var(--artist4);
	box-shadow: 0px 3px 5px 0px var(--grey4);
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
canvas#old-paint {
	background-color: white;
	z-index: 1;
}
canvas#new-paint {
	z-index: 2;
}

/* ============================================================================
	Game
============================================================================ */

#game-info {
	--maxCanvasWidth: 500px; /* default value. Override in game-view.vue */
	text-align: left;
	max-width: calc(var(--maxCanvasWidth) + 4px + 4px); /* canvas + borders */
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: var(--header-font);
}
#game-info .prompt {
	color: var(--artist4);
	font-size: 26px;
	margin: 0 0 0 0;
}
#game-info .current-turn {
	margin-left: 10px;
	margin: 0 0 0 10px;
}
#game-info span.label {
	font-weight: normal;
}
#game-info span:not(.label) {
	font-weight: bold;
	color: var(--standard-dark);
}