:root {
	--bg-color: hsl(45, 10%, 97%);
	/* --bg-light: hsl(45, 33%, 100%); */
	--artist: hsl(327, 100%, 45%);
	--artist-light: hsl(327, 100%, 50%);
	--artist-faded: hsl(327, 50%, 45%, .3);
	/* --artist-dark: hsl(327, 100%, 40%); */
	--shade: hsl(45, 15%, 70%);
	--light-shade: hsl(45, 15%, 88%);
	/* --light-shade2: hsl(45, 15%, 93%); */
	--standard-color: hsl(45, 15%, 40%);
	--standard-dark: hsl(45, 15%, 25%);
	--shadow-config: 0px 2px 4px 0px;
	--header-font: 'Poppins', sans-serif;
	--body-font: 'Niramit', sans-serif;
	--button-font: 'Poppins', sans-serif;
}

html, body {
	height: 100%;
	font-family: var(--body-font);
	background-color: var(--bg-color);
	color: var(--standard-color);
	margin: 0 0;
	font-size: 15px;
	font-weight: normal;
}

h1, h2, h3 {
	font-family: var(--header-font);
	color: var(--standard-dark);
}
h1 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-size: 22px;
	margin: 5px 5px 10px 5px;
}
h3 {
	font-size: 16px;
	margin: 5px 5px 10px 5px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: calc(100% - 20px);
	max-width: 600px;
	padding: 15px 15px 0 15px;
}

.view, .menu { /* hide all views as page loads */
	display: none;
}

div.chunk {
	margin-bottom: 30px;
}
div.chunk-narrow {
	margin-bottom: 15px;
}
.align-left {
	text-align: left;
}

p, ul {
	margin: 5px 5px 10px 5px;
}
p em, p strong, p span {
	white-space: nowrap;
}
a {
	color: hsl(200, 100%, 27%);
}

.error {
	color: red;
	font-weight: bold;
}

/* ============================================================================
	Buttons
============================================================================ */

.btn {
	border-radius: 5px;
	box-shadow: var(--shadow-config) var(--shade);
	background-color: var(--bg-color);
	color: var(--artist);
	transition: background-color .2s, color .2s, box-shadow .2s;

	min-width: 120px;
	padding: 0 20px;
	margin: 10px 5px;
	line-height: 40px;
	
	cursor: pointer;

	font-family: var(--button-font);
	font-size: 16px;
}
.btn.primary {
	border: solid 2px var(--artist);
	font-weight: bold;
}
.btn.secondary {
	border: solid 1px var(--artist);
	font-weight: normal;
}
@media(any-hover: hover) {
	button.btn:not(:disabled):hover, input[type="submit"].btn:not(:disabled):hover {
		background-color: var(--artist);
		color: white;
		box-shadow: 0 8px 8px 0 var(--shade);
	}
}
button.btn:not(:disabled):active, input[type="submit"].btn:not(:disabled):active {
	box-shadow: var(--shadow-config) var(--shade);
}
button.btn:disabled, input[type="submit"].btn:disabled {
	box-shadow: none;
	border-color: var(--artist-faded);
	color: var(--artist-faded);
    cursor: default;
}
button.btn.big {
	min-width: 170px;
}

input[type="text"] {
	border: solid 0;
	border-bottom: solid 2px var(--standard-color);
	background-color: var(--light-shade);
	line-height: 40px;
	text-align: center;
	margin: 10px 0;
	color: var(--standard-color);
	font-weight: normal;
}
input[type="text"]:focus {
	border-bottom: solid 2px var(--artist);
}

/* ============================================================================
	Waiting room
============================================================================ */

div.game-code {
	margin-top: 10px;
}
div.chunk.users {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}
ul.users {
	list-style: none;
	height: calc((16px + 3px) * 10); /* <li> size * number of rows */
	padding-left: 0;
}
.username {
	font-family: var(--header-font);
}
li {
	margin-bottom: 3px;
}

/* ============================================================================
	Canvas
============================================================================ */

#painting {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: solid 4px var(--artist);
	box-shadow: var(--shadow-config) var(--shade);
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
canvas#old-paint {
	background-color: white;
	z-index: 1;
}
canvas#new-paint {
	z-index: 2;
}

/* ============================================================================
	Game
============================================================================ */

#game-info {
	text-align: left;
	max-width: calc(300px + 4px + 4px); /* canvas + borders */
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: var(--header-font);
}
#game-info span.label {
	font-weight: normal;
}
#game-info span:not(.label) {
	font-weight: bold;
	color: var(--standard-dark);
}